* {
  margin: 0;
  padding: 0cm;
  font-size: 1.125rem;
  font-weight: 300;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  display: block;
}

.image-full {
  max-width: 100%;
  max-height: 300px;
  object-fit: cover;
  margin-bottom: 2em;
}

main {
  width: 75%;
}

aside {
  width: 25%;
  margin: 0 1em;
  min-width: 200px;
}

footer {
  background: #143774;
  color: #fff;
  text-align: center;
  padding: 3em 0;
}

/* ===============
typography
================ */

h1,
h2,
h3 {
  font-family: "Lora", serif;
  font-weight: 400;
  color: #142774;
}

h1 {
  font-size: 2rem;
}

h2 {
  margin-bottom: 2rem;
}

h3 {
  color: #1792d2;
  margin: 1em 0;
}
a {
  color: #1792d2;
}

a:focus,
a:focus {
  color: #1792d2;
}

strong {
  font-weight: 900;
}

.subtitle {
  font-weight: 700;
  color: #1792d2;
  font-size: 0.75rem;
  margin: 0;
}

.article-title {
  font-size: 1.5rem;
}

.article-read-more,
.article-info {
  font-size: 0.875rem;
}

.article-read-more {
  color: #1792d2;
  margin: 1em 0;
}

.article-read-more:hover,
.article-read-more:focus {
  color: #143774;
  text-decoration: underline;
}

.article-info {
  margin: 2em 0;
}

.widget-recent-post-title,
.widget-title {
  font-size: 1rem;
}

.widget-title {
  font-family: Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}

/* =====
navbar
====== */

.nav {
  margin-bottom: 2em;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-title {
  align-self: flex-start;
}
.logo-desc {
  align-self: flex-start;
  margin-bottom: 1em;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 900px) {
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}

li {
  margin-right: 2em;
}
p {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #787778;
  text-transform: uppercase;
}

a:hover,
a:focus {
  color: aqua;
}

/*===================== 
layout 
======================
*/

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

@media (max-width: 900px) {
  .container-flex {
    flex-direction: column;
  }

  main {
    width: 100%;
  }

  aside {
    width: 100%;
  }
}

/* articles */

.article-featured {
  border-bottom: #707070 solid 1px;
  padding-bottom: 2em;
  margin-bottom: 2em;
}

.article-recent {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.article-recent-main {
  order: 2;
}

.article-recent-secondary {
  order: 1;
}

@media (min-width: 901px) {
  .article-featured {
    display: flex;
    flex-direction: column;
  }

  .article-title {
    order: 2;
  }

  .article-body {
    order: 3;
  }

  .article-read-more {
    order: 4;
  }

  .article-recent {
    flex-direction: row;
    margin-bottom: 2em;
    justify-content: space-between;
  }

  .article-recent-main {
    /* margin-top: -2.8em; */
    width: 70%;
  }

  .article-recent-secondary {
    width: 25%;
  }

  .article-info {
    text-align: end;
  }

  .article-image {
    width: 100%;
    object-fit: cover;
  }
}

/* === aside ===*/

.sidebar-widget {
  border: 20px solid #efefef;
  margin-bottom: 2em;
  padding: 1rem;
}

.widget-recent-post {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #333;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.widget-recent-post:last-child {
  border: none;
  margin: 0;
  padding: 0;
}

.widget-recent-post-title {
  order: 2;
}

.widget-image {
  order: 1;
}

/* about me page */
